[submodule "Infra-Tools"]
	path = Infra-Tools
	url = https://github.com/zhanbei/Infra-Tools.git
[submodule "Neto-Dashboards"]
	path = Neto-Dashboards
	url = https://github.com/netoll/Neto-Dashboards.git
